/* Write your code here. */
* {
  margin: 0px;
}
body {
  box-sizing: content-box;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: #fbbf24;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 150px;
  height: 150px;
  background-color: #38bdf8;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: #ec4899;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
  }
  p {
    color: white;
    font-family: roboto;
    font-size: 12px;
  }
  .heading {
    text-align: center;
    margin: 10px;
    font-family: "Roboto";
    font-size: 22px;
  }
}
@media screen and (max-width: 577px) {
  .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  p {
    color: white;
    font-family: roboto;
    font-size: px;
  }
  .heading {
    text-align: center;
    margin: 10px;
    font-family: "Roboto";
    font-size: 26px;
  }
}
